.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
  align-self: stretch;
}

.form > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.form > label > span {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.87);
}

.form > label > input {
  border-radius: 16px;
  align-self: stretch;
  padding: 12px 15px;
}

@media (max-width: 600px) {
  .form {
    gap: 5px;
  }
}